<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="layout/admin_layout">
<th:block layout:fragment="content">
    <main>
        <form action = "update_proc">
       		<input type = "hidden" th:value = "${problem.idx}" name = "pidx">
       		<label for = "question">문제</label>
       		<input type = "text" name = "question" th:value = "${problem.question}">
       		
       		<label for = "answer">정답</label>
       		<input type = "text" name = "answer" th:value = "${problem.answer}">
       		
       		<input type = "submit" value = "수정하기">
       	</form>
    </main>
</th:block>
</html>