<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
	<main>
		<table class="table table-striped caption-top">
			<caption>자유게시판</caption>
			<tr class="table-light">
				<th>제목</th>
				<th>작성자</th>
				<th>작성일</th>
			</tr>
			<tr th:each="bf : ${bfList}">
				<td width=60%><a th:href="@{./free/view(idx=${bf.idx})}"
					th:text="${bf.title}"></a></td>
				<td th:text="${bf.mid}"></td>
				<td th:text="${#temporals.format(bf.date, 'MM-dd HH:mm')}"></td>
			</tr>
			<tr th:unless="${#lists.size(bfList)>0}">
				<td colspan="3">글이 존재하지 않습니다</td>
			</tr>
		</table>

		<a href="/localcbt/free/write" class="btn btn-primary">등록</a>
		<div class="d-flex justify-content-center">
			<ul class="pagination">
				<li class="page-item" th:if="${pageinfo.cpage>1}">
				<a class="page-link" th:href="@{./free(page=1)}">&lt;&lt;</a></li>
				<li class="page-item" th:if="${pageinfo.cpage>1}">
				<a class="page-link" th:href="@{./free(page=${pageinfo.cpage-1})}">&lt;</a></li>
				
				<th:block th:if="${#lists.size(bfList)>0}"
					th:each="num:${#numbers.sequence(pageinfo.spage, (pageinfo.spage+pageinfo.bsize-1 > pageinfo.pcnt) ? 
        	pageinfo.pcnt : pageinfo.spage+pageinfo.bsize-1)}">
					<li class="page-item">
					<a class="page-link" th:href="@{./free(page=${num})}" th:text="${num}"></a>
					</li>
				</th:block>
				
				<li class="page-item" th:if="${pageinfo.cpage < pageinfo.pcnt}">
				<a class="page-link" th:href="@{./free(page=${pageinfo.cpage+1})}">&gt;</a></li>
				<li class="page-item" th:if="${pageinfo.cpage < pageinfo.pcnt}">
				<a class="page-link" th:href="@{./free(page=${pageinfo.pcnt})}">&gt;&gt;</a></li>
			</ul>
		</div>
	</main>
</th:block>
</html>