<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
    <main>
        <form action = "/localcbt/free/update_proc" method = "post" class = w-50>
        	<input type = "hidden" name = "bidx" th:value = "${bf.idx}">
        	<div class="mb-3">
        	<input class="form-control" type = "text" name = "title" placeholder = "제목" th:value = "${bf.title}">
        	</div>
        	<div class="mb-3">
        	<textarea class="form-control" name = "content" placeholder = "내용" rows = 10 th:text = "${bf.content}"></textarea>
        	</div>
        	<div class="mb-3">
        	<input class="btn btn-primary" type = "submit" value = "등록">
        	</div>
        </form>
    </main>
</th:block>
</html>
