<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/mypage_layout">
<th:block layout:fragment="content">
	<table class="table table-bordered">
		<tr>
			<th>제목</th>
			<th>작성일</th>
		</tr>
		<tr th:each="bf : ${bfList}">
			<td width=60%><a th:href="@{/localcbt/free/view(idx=${bf.idx})}"
				th:text="${bf.title}"></a></td>
			<td th:text="${#temporals.format(bf.date, 'MM-dd HH:mm')}"></td>
		</tr>
	</table>
</th:block>
</html>