<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/mypage_layout">
<th:block layout:fragment="content">
	<table class="table table-bordered">
		<tr>
			<th>수량</th>
			<th>분류</th>
			<th>상세</th>
			<th>날짜</th>
		</tr>
		<tr th:each="p : ${pList}">
			<td th:text = "${p.point}"></td>
			<td th:text = "${p.ctgr}"></td>
			<td th:text = "${p.desc}"></td>
			<td th:text="${#temporals.format(p.date, 'MM-dd HH:mm')}"></td>
		</tr>
		<tr th:unless="${#lists.size(pList)>0}">
			<td colspan="4">내역이 존재하지 않습니다</td>
		</tr>
	</table>
</th:block>
</html>