<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="../css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Home</title>
</head>
<body>
    <header>
        <figure class = "logo"><a href = "../admin">
            <img src="../img/logo.png">
        </a></figure>
        <h1>나만의 문제은행: 관리자</h1>
        <nav>
        	<a th:if = "${session.admininfo == null}" href = "admin">로그인</a>
        	<a th:unless = "${session.admininfo == null}" href = "logout">로그아웃</a>
        </nav>
    </header>
</th:block>