<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src = "js/common.js"></script>
    <title>Home</title>
</head>
<body>
    <header>
        <figure><a href = "index">
            <img src="img/logo.png">
        </a></figure>
        <b>나만의 문제은행</b>
        <a href = "login_form" class = "link">관리자</a>
    </header>
</th:block>