<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="mypage">
	<ul class="nav flex-column">
		<li class="nav-item">
			<a class="nav-link" href="/localcbt/mypage">활동내역</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/localcbt/mypage/update_form">내 정보</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/localcbt/mypage/score">내 시험</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/localcbt/mypage/point">내 포인트</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/localcbt/mypage/board">내 글</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/localcbt/mypage/reply">내 댓글</a>
		</li>
	</ul>
</th:block>