/*common*/
@charset "utf-8";
img {
	width: 100%;
}

header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 70%;
	height: 100px;
	margin: 10px auto;
}
header figure{
	width: 80px;
}
header nav{
	width: 40%;
}
footer {
	text-align: center;
	heigth: 100px;
	line-height: 100px;
	background-color: lightgrey;
}

main {
	width: 70%;
	margin: 80px auto 50px;
	min-height: calc(100vh - 200px);
}
form{
	margin: 0 auto;
}
/* article - 게시판 내용*/
article{
	margin: 20px;
	padding: 0 20px;
}
article h3{
	padding: 10px 0;
}
article div{
	min-height: 40vh;
	margin: 10px 0;
	padding: 10px 0;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
}

.errmsg{
		color:red;
	}