<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
	<main class="w-25">
		<form th:if=${session.logininfo==null} action="login" method="post">
			<div class="mb-3">
			<label for="id" class="form-label">ID</label> 
			<input type="text" name="id" class="form-control" value = "test1">
			</div>
			<div class="mb-3">
			<label for="pw" class="form-label">PW</label> 
			<input type="password" name="pw" class="form-control" value = 1234> </div>
			<div class="mb-3">
			<input type="submit" value="login" class="btn btn-primary">
			<a href="signup_form">Sign up</a></div>
			<div class="mb-3" th:text="${param.error}"></div>
			
		</form>

		<form th:unless="${session.logininfo==null}" action="/localcbt/test/form" method="post">
			<label for="tidx" class="form-label">문제 풀기</label> 
			<select name="tidx" onchange="form.submit();" class="form-select">
				<option value="0">과목</option>
				<th:block th:each="test: ${testinfo}">
					<option th:value="${test.idx}" th:text="${test.name}"></option>
				</th:block>
			</select>
		</form>
	</main>
</th:block>
</html>
