<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="/css/style.css">
    <title>Home</title>
</head>
<body>
    <header>
        <figure class = "logo">
            <a href = "/post/list">
                <img src="../img/logo.png">
            </a>
        </figure>
        <h1>나만의 문제은행</h1>
        <th:block sec:authorize="isAuthenticated()">
            <a href="/logout">로그아웃</a>
        </th:block>
        <th:block sec:authorize="isAnonymous()">
            <a href="/login">로그인</a>
        </th:block>
    </header>
    <th:block layout:fragment="content"></th:block>
</body>
</html>