<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="layout/admin_layout">
<th:block layout:fragment="content">
   <main>
   		<th:block th:if = "${#lists.size(pList)>0}">
   		<ol  class = "exam">
        	<li th:each = "problem : ${pList}">
        		<p th:text = "${problem.question}"></p>
        		<p th:text = "${problem.answer}" class = "answer"></p>
        		<a th:href = "@{/update_form(pidx = ${problem.idx})}" class = "activate">수정하기</a>
        	</li>
       	</ol>
       	<a th:href = "@{/register_form(tidx = ${tidx})}" class = "activate">추가하기</a>
       	</th:block>
   		<a th:unless = "${#lists.size(pList)>0}" href = "index" th:text = "${'가능한 문제가 없습니다.'}"></a>
    </main>
</th:block>
</html>