<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="layout">
<th:block layout:fragment="content">
    <main>
        <form action = "/login" method = "post">
            <label>ID</label>
            <input type = "text" name = "username" value = "user">
            <label>PW</label>
            <input type = "password" name = "password" value = "1234">
            <input type = "submit" value = "로그인">
        </form>
    </main>
</th:block>
</html>