<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
    <main>
    	<form th:if = "${#lists.size(problem)>0}" method = "post" id = "register" class = "w-50">
    		<input type = "hidden" name = "tidx" th:value = "${tidx}" > 
    		<ol>
	        	<li class = "mb-3" th:each = "problem : ${problem}">
	        		<p th:text = "${problem.question}"></p>
	        		<input class="form-control" name = "answers" type = "text" pattern = "[ㄱ-ㅎ가-힣a-zA-Z0-9 ]+" maxlength = "10">
	        		<span class = errmsg></span>
	        	</li>
	        </ol>
        	<input type = "submit"  value = "채점하기" class="btn btn-primary">
    	</form>
    	<a th:unless = "${#lists.size(problem)>0}" href = "index" th:text = "${'가능한 문제가 없습니다.'}"></a>
    </main>
    
    <script th:inline="javascript">
	$('#register').on('submit', function(){
		$('input[type=submit]').attr('disabled', 'true');
		let correct = 0;
		let real = new Array();        
        /*[# th:each="p : ${problem}"]*/
			real.push(/*[[${p.answer}]]*/);
		/*[/]*/
		$.ajax({
			type: "post",
			url: "/localcbt/test/check",
			contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
	        dataType: 'html',
	        data: $(this).serialize(),
			success: function(){
				$.each(real, function(idx, value){
					let uanswer = $('input[name=answers]').eq(idx);
					if(real[idx] == uanswer.val()){
						uanswer.css({'color':'green', 'background-color':'lightgreen'});
						correct++;
					}else{
						uanswer.css({'color':'red', 'background-color':'lightred'});
						$('.errmsg').eq(idx).text(real[idx]);
					}
				});
				alert("결과: "+correct+'/'+real.length);
				
			},
			error: function(){
				alert("무엇인가 잘못되었습니다");
			}
		});
		return false;
	});
	</script>
</th:block>
</html>
